body {
    font-family: times, arial, sans-serif;
    font-size: 125%
}

header {
    background-color:black
}

nav{
background-color:rgb(77, 77, 77)
}

main{
    background-color:black
    font-size=95%
}
footer {background-color:rgb(77, 77, 77)
}

li {
    display:block-inline
    width=180px;

}
h1{
    text-align: justify
    font-family: times, arial, sans-serif

}
p {
    line-height: 50px
}
